#font{

    /* font-family --> How your font looks on webpage */
    font-family:cursive;

    /* font-size --> Controls the size of font on webpage */
    font-size: 20px;

    /* font-weight --> Controls the weight/boldness of font */
    font-weight:800;

    /* font-style --> Controls the style of font like: Italic, Underline etc. */
    font-style:italic;
}

#A{
    /* line-height --> Controls the spacing b/w lines */
    line-height: 40px;
}

#font2{
    color: rgb(255, 126, 71);
    font-family: "Libertinus Keyboard", system-ui;
}

#font3{
    font-family:sans-serif;
}

#font4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#font5{
    font-family: 'Courier New', Courier, monospace;
}