#font{

    /* font-family --> How your font looks on webpage */
    font-family:cursive;
}

#font2{
    color: rgb(255, 126, 71);
    font-family: "Libertinus Keyboard", system-ui;
}

#font3{
    font-family:sans-serif;
}

#font4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#font5{
    font-family: 'Courier New', Courier, monospace;
}