#font{

    /* font-family --> How your font looks on webpage */
    font-family:cursive;

    /* font-size --> Controls the size of font on webpage */
    font-size: 20px;

    /* font-weight --> Controls the weight/boldness of font */
    font-weight:800;

    /* font-style --> Controls the style of font like: Italic, Underline etc. */
    font-style:italic;
}

#A{
    /* line-height --> Controls the spacing b/w lines */
    line-height: 40px;
}

#font2{
    color: rgb(255, 126, 71);
    font-family: "Libertinus Keyboard", system-ui;
}

#font3{
    font-family:sans-serif;
}

#font4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#font5{
    font-family: 'Courier New', Courier, monospace;
}



/* Text Properties Practice Starts here */
#text1{

    /* text-align --> Controls the alignment of text */
    text-align: center;

    /* text-decoration --> Controls the decoration of text like: underline, overline, line-through etc. */
    text-decoration: underline;

    /* text-decoration-color --> Controls the color of text decoration */
    text-decoration-color: teal;

    /* text-decoration-thikness --> Controls the thickness of text decoration */
    text-decoration-thickness: 4px;

    /* text-transform --> Controls the transformation of text like: uppercase, lowercase, capitalize */
    text-transform: uppercase;

    /* letter-spacing --> Controls the spacing b/w letters */
    letter-spacing: 15px;

    /* word-spacing --> Controls the spacing b/w words */
    word-spacing: 10px;

    /* text-shadow --> Controls the shadow of text */
    text-shadow: 3px 6px 3px grey;
}



    /* From here we starts CSS COLOR Practice------------------------------------------------------------------------------------------------ */
    .color1{
        text-align: center;
        font-size: 35px;

        /* 1. RGB */
        color: rgb(13, 173, 109); /* Red Color */
    }

    .color2{
        text-align: center;
        font-size: 30px;

        /* 1. RGBA */
        color: rgba(255, 0, 0, 0.7); /* Red Color with opacity */
    }