#uniquePara{
    background-color: steelblue;
}

.highlighted{
    background-color: cornflowerblue;
}

#secondPara{
    background-color: rgb(113, 113, 227);
}

.first{
    background-color: rgb(114, 39, 205);
}

.first-div{
    background-color: burlywood;
}

.second{
    background-color: rgb(232, 171, 86);
}

