.box1 {
            height: 950px;
            width: 95%;
            background-color:rgba(105, 90, 205, 0.516);
            border: 3px solid rgb(105, 90, 205);
            border-radius: 30px;
            margin: 30px 0px 0px 40px;

            box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.824);
        }

        .box2 {
            height: 100px;
            width: 97%;
            background-color:rgba(255, 192, 203, 0.301);
            border: 3px solid rgba(255, 192, 203, 0.591);
            border-radius: 30px;
            margin: 20px 0px 0px 20px;

            text-align: center;
            line-height: 100px;
            font-size: 25px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .box3 {
            height: 750px;
            width: 64%;
            background-color:rgba(144, 238, 144, 0.301);
            border: 3px solid rgba(144, 238, 144, 0.594);
            border-radius: 30px;
            margin: 20px 0px 0px 20px;

            text-align: center;
            line-height: 750px;
            font-size: 30px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .box4 {
            height: 750px;
            width: 30%;
            background-color:rgba(135, 206, 250, 0.301);
            border: 3px solid rgba(135, 206, 250, 0.594);
            border-radius: 30px;
            margin: -755px 0px 0px 68%;

            text-align: center;
            line-height: 750px;
            font-size: 25px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .box31{
            height: 70px;
            width: 97%;
            background-color: rgba(255, 99, 71, 0.304);
            border: 2px solid rgba(255, 99, 71, 0.591);
            border-radius: 25px;
            margin: -700px 0px 0px 15px;

            text-align: center;
            line-height: 70px;  
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .box32{
            height: 70px;
            width: 97%;
            background-color: rgba(255, 99, 71, 0.304);
            border: 2px solid rgba(255, 99, 71, 0.591);
            border-radius: 25px;
            margin: 40px 0px 0px 15px;

            text-align: center;
            line-height: 70px;  
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .box33{
            height: 70px;
            width: 97%;
            background-color: rgba(255, 99, 71, 0.304);
            border: 2px solid rgba(255, 99, 71, 0.591);
            border-radius: 25px;
            margin: 40px 0px 0px 15px;

            text-align: center;
            line-height: 70px;  
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }   

        .box34{
            height: 70px;
            width: 97%;
            background-color: rgba(255, 99, 71, 0.304);
            border: 2px solid rgba(255, 99, 71, 0.591);
            border-radius: 25px;
            margin: 40px 0px 0px 15px;

            text-align: center;
            line-height: 70px;  
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .box35{
            height: 70px;
            width: 97%;
            background-color: rgba(255, 99, 71, 0.304);
            border: 2px solid rgba(255, 99, 71, 0.591);
            border-radius: 25px;
            margin: 40px 0px 0px 15px;

            text-align: center;
            line-height: 70px;  
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .box36{
            height: 70px;
            width: 97%;
            background-color: rgba(255, 99, 71, 0.304);
            border: 2px solid rgba(255, 99, 71, 0.591);
            border-radius: 25px;
            margin: 50px 0px 0px 15px;

            text-align: center;
            line-height: 70px;  
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.824);
        }

        .FooterBox {
            height: 130px;
            width: 95%;
            background-color:rgba(0, 251, 255, 0.301);
            border: 3px solid rgba(0, 255, 247, 0.591);
            border-radius: 30px;
            margin: 20px 0px 0px 40px;

            text-align: center;
            line-height: 100px;
            font-size: 25px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.824);
        }