/* *{
    margin: 0;
    padding: 0;
} */

.container{
    height: 600px;
    /* width: 1000px; */
    background-color: tomato;
    border: 3px solid blue;

    display: flex;
    /* flex-direction: column; */

    justify-content: center;

    /* align-items: flex-end; */

    flex-wrap: wrap;
}

.box{
    /* height: 150px; */
    width: 100px;
    background-color: steelblue;
    border: 2px solid black;

    /* display: inline-block; */
}